@charset "utf-8";
/* CSS Document */

html {
	/* cf. http://www.hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better */
	height: 100%;
	margin-bottom: 1px;

	}
.main_title {
	font-family: Arial, Helvetica, sans-serif;
}
body,td,th {
	color: #97c0e6;
}
body {
	background-color: #230904;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	max-width:100%;
	background-image:url(images/e.png);
	background-position:center; 
}
#Box {
	width: 640px;
	padding: 0 0 0 0;
	margin:0 auto; /**centered**/
	margin-bottom: 0;
	padding-bottom: 0;
	}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:10px; font-size:xx-large;
	padding-top:5px; margin-top:0px;
	padding-bottom:10px; margin-bottom:0;
}
h4 {
	margin-bottom:5px; margin-bottom:5px;
}
p {
	padding:0 0 0 0 ;
	margin:0 0 0 0 ;
}

.text a { text-decoration: none; color: #FFFFFF; }
.text a:hover { color: #ff0; background-color:#442e29; text-decoration: underline; }	
.news a { text-decoration: none; color: #FFFFFF; }
.news a:hover { color: #ff0; background-color:#442e29; text-decoration: underline; }	

div.space {
	padding: 0 0 0 0;
	margin: 0 310px 0 310px;
	background-color: #442e29;
	text-align:center;
	}
div.nothing {
	padding: 0 0 0 0;
	margin: 0 310px 0 310px;
	}
div.text {
	background-color: #442e29;
	border: none;
	padding: 5px 8px 5px 8px;
	margin: 0 15px 0 15px;
	}
div.news {
	border: none;
	padding: 5px 0 5px 0;
	margin: 0 15px 0 15px;
	}
font.newswhen {
	background-color: #442e29;
	padding: 0 8px 0 8px;
	}
div.newswhat {
	background-color: #442e29;
	padding: 2px 10px 5px 10px;
	margin: 0 8px 0 40px;
	}
.components p {
	padding: 0px 5px 5px 5px;
	}
.components p img {
	background-color:#FFFFFF;
	}
#Header {
	border: none;
	padding: 0 12px 0 12px;
	margin: 0 0 0 0;
	}
video {
	background-color: #442e29;
	padding:0 0 0 0 ;
	margin:0 0 0 0 ;
	}
div.image {
	padding:0 0 0 0 ;
	margin:0 0 0 0 ;
	}
#Selected {
	background-color: #442e29;
	}
ul.tabs { list-style-type: none; padding: 0 0 0 0; margin: 0; 	font-family: Arial, Helvetica, sans-serif; font-size:large; }
ul.tabs li { float: right; padding: 0; margin: 0; padding-top: 0; color: #97c0e6;  }
ul.tabs li a { display: block; padding: 0 10px; text-decoration: none; color: #97c0e6; }
ul.tabs li a:hover { color: #ff0; background-color:#442e29; }	

ul.language-tabs { list-style-type: none; padding: 0 80px 0 0; margin: 0; 	 }
ul.language-tabs li { float: right; padding: 0; margin: 0; padding-top: 0; color: #97c0e6;  }
ul.language-tabs li a { display: block; padding: 0 10px; text-decoration: none; color: #97c0e6; }
ul.language-tabs li a:hover { color: #ff0; background-color:#442e29; }	